{% extends 'base.html.twig' %}

{% block title %}Create an event{% endblock %}
      


{% block body %}
<div class="container">
<h2 class="text-center">Add an event</h2>
        {{form_start(form)}}
        {{form_widget(form)}}<a href="{{ path('home') }}" class="btn btn-dark btn-lg mb-2">Back to Main Menu</a>
        {{form_end(form)}}
</div>
{% endblock %}
 {% block javascripts %}

{% endblock %}
